doctype transitional
html
	head
		block head
			link(rel="stylesheet",type="text/css",href="/enjp.css")
			meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
			script(src="//code.jquery.com/jquery-1.10.2.min.js")
			title
				if lang == 'en'
					| OLIOETRY
				else
					| ごった煮冊
	body
		block header
			#header(class=header)
				.logo
					a(href="/")
						if lang == 'en'
							span.logo Olioetry
						else
							span.logo ごった煮冊
				ul
					li
						a(href="/#{lang}/compose",class="make")
							if lang == 'en'
								| Make
							else
								| 詠む
					li
						a(href="/#{lang}/poems",class="read")
							if lang == 'en'
								| Read
							else
								| 読む
					li
						a(href="/#{lang}/best",class="best")
							if lang == 'en'
								| Best
							else
								| 一等
					li
						a(href="/#{lang}/poem",class="random")
							if lang == 'en'
								| Random
							else
								| ランダム
		block content
