extends base

append head
	script(src="/view_page.js")

block content
	#header
		a(href="/")
			img(src="/images/HandN_Logo_Small.png")
		ul
		li
				a(href="/poems") New
		li
				a(href="/poems/haughtiest") Haughty
		li
				a(href="/poems/naughtiest") Naughty

	each poem in poems
		- poem.lang = poem.lang || lang;
		#singlePoem
			.contentBox(class=poem.lang)
				.contentOptions

				.content
					h1= poem.title
					h3 by #{poem.author}
					.poem
						each line in poem.lines
							-line.lang = line.lang || poem.lang;
							.line
								if line.lang === poem.lang
									span.en= line.en
									span.jp= line.jp
								else
									span(class=poem.lang + " hidden")= line[poem.lang]
									span(class=line.lang + " force")= line[line.lang]
					.toggleButton
						span
							| EN
						span
							| 日本