extends base

append head
	script(src="/view_page.js")

	- poem = poems[0];
	- poem.lang = poem.lang || lang;
	- cardTitle = (lang == 'en') ? 'olioetry' : "ごった煮冊";

	meta(property="og:image",content="http://olioetry.boodoo.co/#{poem.lang}/poem/#{poem.id}/png")
	meta(property="og:site_name",content=cardTitle)

	meta(name="twitter:card",content="photo")
	meta(name="twitter:image:width",content="450")
	meta(name="twitter:image:height",content="300")
	meta(name="twitter:image:src",content="http://olioetry.boodoo.co/#{poem.lang}/poem/#{poem.id}/png")
	meta(name="twitter:title",content="#{poem.title}")
	meta(name="twitter:site",content="#{poem.author}")
	meta(name="twitter:creator",content="#{poem.author}")
	meta(name="twitter:domain",content="olioetry.boodoo.co")

block content
	#singlePoem
		.singleNav
			if nextId
				.navNext
					a(href="/#{lang}/poem/#{nextId}")
						if lang == 'en'
							| NEXT
						else
							| 次
			if prevId
				.navPrev
					a(href="/#{lang}/poem/#{prevId}")
						if lang == 'en'
							| PREV
						else
							| 前
		.contentBox(id=poem.id,class=poem.lang)
			.contentOptions
				h1.upvote ++
			.content
				h1= poem.title
				h3 by #{poem.author}
				.poem
					each line in poem.lines
						unless !line.en
							-line.lang = line.lang || poem.lang;
							.line
								if line.lang === poem.lang
									span.en= line.en
									span.jp= line.jp
								else
									span(class=poem.lang + " hidden")= line[poem.lang]
									span(class=line.lang + " force")= line[line.lang]
				.toggleButton
					span
						| EN
					span
						| 日本
