extends base

append head
	script(src="/view_page.js")

block content
	#enjpContent
		each poem, i in poems
			- poem.lang = poem.lang || lang
			.poemPadder

			.contentBox(id=poem.id,class=poem.lang)
				.contentOptions
					h1
						a.poem-link(href="/#{lang}/poem/#{poem.id}") ##{i + 1}

				.content
					a.poem-link(href="/#{lang}/poem/#{poem.id}")
						h1= poem.title
					h3 by #{poem.author}
					.poem
						each line in poem.lines
							unless !line.en
								-line.lang = line.lang || poem.lang
								.line
									if line.lang === poem.lang
										span.en= line.en
										span.jp= line.jp
									else
										span(class="#{poem.lang} hidden")= line[poem.lang]
										span(class="#{line.lang} force")= line[line.lang]

					.toggleButton
						span
							| EN
						span
							| 日本