extends base

append head
	script(src="/view_page.js")

block content
	each poem in poems
		- poem.lang = poem.lang || lang;
		#singlePoem
			.singleNav
				if nextId
					.navNext
						a(href="/#{lang}/poem/#{nextId}")
							if lang == 'en'
								| NEXT
							else
								| 次
				if prevId
					.navPrev
						a(href="/#{lang}/poem/#{prevId}")
							if lang == 'en'
								| PREV
							else
								| 前
			.contentBox(id=poem.id,class=poem.lang)
				.contentOptions
					h1.upvote ++
				.content
					h1= poem.title
					h3 by #{poem.author}
					.poem
						each line in poem.lines
							unless !line.en
								-line.lang = line.lang || poem.lang;
								.line
									if line.lang === poem.lang
										span.en= line.en
										span.jp= line.jp
									else
										span(class=poem.lang + " hidden")= line[poem.lang]
										span(class=line.lang + " force")= line[line.lang]
					.toggleButton
						span
							| EN
						span
							| 日本